body{
    background-color: #1C2927;
}
    .main{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}
.out{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.outA{
    display:flex;
align-items: center;
justify-content: space-between;
}
.articl{
    background-color: #1C2927;
    width: 360px;
    height: 620px;
    border-radius:  20px;
    border: black solid 5px;
   
}
.bottomMenu{
    width: 100%;
    height: 100px;
    
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.sidetext{
    display:flex;
    align-items: center;
    justify-content: space-between;
    }
.upMenu{
    width: 100%;
    height: 100px;
    
}
.mainBlock{
    width: 100%;
    height: 420px;
    
    background-color: #F0EEEE;
}
.FirstButton{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #E5D9B0;
    background-color: #E5D9B0;
    cursor: pointer;
}
.secondButton{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #E5D9B0;
    background-color: #E5D9B0;
    cursor: pointer;
}
.thirstButton{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #E5D9B0;
    background-color: #E5D9B0;
    cursor: pointer;
}
.fourButton{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #E5D9B0;
    background-color: #E5D9B0;
    cursor: pointer;
}
.fiveButton{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #E5D9B0;
    background-color: #E5D9B0;
    cursor: pointer;
}

p{
    color: #F0EEEE;
    
}
a{
    color: #1C2927;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.schedule{
    width: 340px;
    height: 120px;
    background: #7A9490;
    margin: 10px;
    border-radius: 5px;
    }
.scheduleTime{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin: 10px;
}
.firstInfo{
    height: 10px;
}
.secondInfo{
    height: 10px;
}
.search{
    background-color: #1C2927;
    margin: 5px 5px 5px 5px;
    }
.auditori{
    display: flex;
    justify-content: center;
}
.scheduleDop{
    width: 340px;
    height: 145px;
    background: #AFCAC5;
    margin: 10px;
    border-radius: 5px;
}
.mesta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}
